@model Employee

<h1>@Model.Name - Detail</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Model.Name - Details</h5>
    <p class="card-text">

    </p>
    <a href="/employees/index" class="btn btn-success">Go back</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>