
<h1>Things To Learn Before Course Completion</h1>

<ol>
    <li>Static Class</li>
    <li>Abstract Class</li>
    <li>Partial Class</li>
    <li>Global Functions</li>
    <li>Data Transfer Objects (DTO)</li>
    <li>Real Time Notification Systems</li>
    <li>Data Access Layer</li>
    <li>Task, Async and Await</li>
    <li>Unit Testing and Database Testing</li>
    <li>Queue, Mail, Notifications</li>
    <li>Best tools for desktop applications</li>
    <li>Pretty URL/Slugged URL</li>
    <li>Model Binding and ViewData for view</li>
</ol>