ul{
    color: red;
    font-size: 20;
}
ol{
    color: brown;
    font-size: 18;
}

#countriesList{
    color: blue;
    font-style: italic;
    font-size: 30;
    
}

#countriesTableList{
    border: 4px solid black;
    font-style: italic;
    font-size: 30;
}

tr > td,th{
    border: 1px solid black;
}
